.sidebarOption {
  color: grey;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  transform-origin: 200ms color ease-in;
}
.sidebarOption:hover {
  color: white;
}
.sidebarOption__icon {
  margin-left: 10px;
  margin-right: 10px;
}
.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}
.sidebarOption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}
